<?xml version="1.0" ?>
<launch>



	<arg name="debug_depth_unit" default="false" />
	
    <include file="$(find realsense_camera)/launch/realsense_camera.launch">
    	<arg name="debug_depth_unit" value="$(arg debug_depth_unit)"/>
    </include>

    
    <node name="realsense_rviz" pkg="rviz" type="rviz" args="-d $(find realsense_camera)/config/realsense.rviz" />

</launch>
